.zoom-container{
    position: absolute;
    left: 30px;
    top: 50px;
    display: flex;
}
.zoom-in-out-btn-wrapper{
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
}
.zoomIn-box-img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
}
.zoomin-out-btn{
    font-size: 1.2rem;
    height: 35px;
    width: 40px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zoomIn-box-wrapper{
    /*z-index: 999;*/
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid white;
}


/* media queries */
@media (max-width: 767px) {
    .zoomIn-box-wrapper{
        height: 100px;
        width: 100px;
    }
    .zoomin-out-btn{
        font-size: 0.9rem;
        height: 25px;
        width: 30px;
        margin-left: 5px;
    }
}